---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import BaseCard from "@/components/BaseCard.astro";
import LinkCard from "@/components/mdx/LinkCard.astro";
import FriendCard from "@/components/mdx/FriendCard.astro";
import Card from "@/components/temple/Card.astro";
import CardGroup from "@/components/temple/CardGroup.astro";
import Showcase from "@/components/mdx/Showcase.astro";

const sites = [{ name: "Ryuchan Demo", url: "https://demo.131714.xyz/" }];
---

<BaseLayout title="Friends">
  <CardGroup cols="1">
    <MainCard
      infoIcon="lucide:link"
    >
      <div class="space-y-10">
        <!-- Friends Section -->
        <section>
          <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
            <Icon name="lucide:users" class="w-6 h-6 text-primary" />
            <span>Friends</span>
          </h2>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <FriendCard
              name="April"
              avatar="https://picbed.xiaozhangya.xin/picbed/20250726061546364.png"
              description="人间四月芳菲尽！"
              url="https://www.zhaocloud.work"
              type="friend"
            />
            <FriendCard
              name="zzz"
              avatar="https://zzz2929.github.io/PicGo/%E5%A4%B4%E5%83%8F.jpg"
              description="冠以名则六欲泛生，止于此则七情方休。"
              url="https://blog.904002.xyz"
              type="friend"
            />
            <FriendCard
              name="安知鱼"
              avatar="https://npm.elemecdn.com/anzhiyu-blog-static@1.0.4/img/avatar.jpg"
              description="生活明朗，万物可爱"
              url="https://blog.anheyu.com/"
              type="friend"
            />
            <FriendCard
              name="YC"
              avatar="https://picbed.xiaozhangya.xin/picbed/20250726181930154.png"
              description="Creazing a better world with code."
              url="https://github.com/ycyang004"
              type="friend"
            />
            <FriendCard
              name="kuncode"
              avatar="https://www.kuncodeascension.fun/img/logo.jpg"
              description="代码飞升"
              url="https://www.kuncodeascension.fun"
              type="friend"
            />
          </div>
          <div class="divider my-8">
            <Icon name="lucide:heart" class="w-10 h-10 text-primary" />
          </div>
        </section>
      </div>
    </MainCard>
  </CardGroup>
</BaseLayout>
